/ {
    sensors {
        compatible = "zmk,keymap-sensors";

        encoder_left: encoder_left {
            compatible = "alps,ec11";
            a-gpios = <&pro_micro 31 GPIO_ACTIVE_HIGH>;
            b-gpios = <&pro_micro 29 GPIO_ACTIVE_HIGH>;
        };

        encoder_right: encoder_right {
            compatible = "alps,ec11";
            a-gpios = <&pro_micro 31 GPIO_ACTIVE_HIGH>;
            b-gpios = <&pro_micro 29 GPIO_ACTIVE_HIGH>;
        };
    };
};